@font-face {
  font-family: "iconfont"; /* Project id 5236601 */
  /* Color fonts */
  src:
       url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e7ed";
}

.icon-video:before {
  content: "\e634";
}

.icon-image:before {
  content: "\e6d5";
}

.icon-mic:before {
  content: "\e68e";
}

.icon-send-fill:before {
  content: "\e888";
}

.icon-line:before {
  content: "\e653";
}

.icon-wenben:before {
  content: "\e620";
}

.icon-bofang:before {
  content: "\e645";
}

.icon-tingzhi:before {
  content: "\e611";
}

.icon-tongxunlu:before {
  content: "\e610";
}

.icon-24gl-pauseCircle:before {
  content: "\ea6d";
}

.icon-24gl-circle:before {
  content: "\ea97";
}

.icon-24gl-arrowRu:before {
  content: "\eb6b";
}

.icon-jinyong:before {
  content: "\e60f";
}

.icon-juxing:before {
  content: "\e609";
}

.icon-agora_luzhizhong:before {
  content: "\e67b";
}

.icon-xiangpica:before {
  content: "\e646";
}

.icon-a-ziyuan485:before {
  content: "\e78c";
}

.icon-line1:before {
  content: "\e684";
}

.icon-maikefeng:before {
  content: "\e65f";
}

.icon-maikefeng1:before {
  content: "\e606";
}

.icon-shipin1:before {
  content: "\e617";
}

.icon-14guaduan-2:before {
  content: "\e67f";
}

.icon-jijianfasong:before {
  content: "\e893";
}

.icon-sousuo-xianxing:before {
  content: "\e8b8";
}

.icon-shezhi-xianxing:before {
  content: "\e8b7";
}

.icon-liaotianduihua:before {
  content: "\e8bc";
}

.icon-liaotianduihua-xianxing:before {
  content: "\e8bd";
}

.icon-dianhua:before {
  content: "\e8be";
}

.icon-maikefeng-xianxing:before {
  content: "\e8c2";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c4";
}

.icon-xiazaidaoru:before {
  content: "\e8c6";
}

.icon-yonghu-xianxing:before {
  content: "\e8c8";
}

.icon-jiaosequnti:before {
  content: "\e8c9";
}

.icon-zhucetianjiahaoyou:before {
  content: "\e8ca";
}

.icon-bianjishuru-xianxing:before {
  content: "\e8cc";
}

.icon-jianpan:before {
  content: "\e8cf";
}

.icon-tupian:before {
  content: "\e8d3";
}

.icon-suoding:before {
  content: "\e8d4";
}

.icon-zhuxiaoguanji:before {
  content: "\e8d8";
}

.icon-liebiaoshitucaidan:before {
  content: "\e8dc";
}

.icon-PCtaishiji:before {
  content: "\e8dd";
}

.icon-jia:before {
  content: "\e8e1";
}

.icon-cuowuguanbiquxiao:before {
  content: "\e8e7";
}

.icon-xinxi-xianxingyuankuang:before {
  content: "\e8e8";
}

.icon-gantanhao-xianxingsanjiaokuang:before {
  content: "\e8ed";
}

.icon-zhixiangzuo:before {
  content: "\e8f4";
}

.icon-yonghuziliao-xianxing:before {
  content: "\e91c";
}

.icon-jingyin:before {
  content: "\e629";
}

.icon-pingmugongxiang:before {
  content: "\e746";
}

.icon-shipin:before {
  content: "\e631";
}

.icon-videooffshipinguanbi:before {
  content: "\e6f0";
}

.icon-pingmugongxiang_guanbi:before {
  content: "\e75f";
}
